<template>
  <div class="app-container">
    <{{ name }}-form />
  </div>
</template>

<script>
import {{ properCase name }}Form from './form'

export default {
  name: '{{ properCase name }}Create',
  components: { {{ properCase name }}Form },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>
